In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/unverified_features_all_6k.csv")

In [3]:
dat = df[["uid", "name", "friends_count", 
                        "followers_count", "listed_count", "statuses_count"]]

In [4]:
dat = dat.astype({"friends_count": int, "followers_count": int, "listed_count": int, "statuses_count": int})

In [5]:
columns_titles = ["uid", "name", "followers_count","friends_count", "listed_count", "statuses_count"]b
dat=dat.reindex(columns=columns_titles)

In [6]:
dat.head()

,uid,name,followers_count,friends_count,listed_count,statuses_count
0,1754641,NYT Business,786607,441,14628,207256
1,24733117,Jeffrey Levin,610302,0,5754,611789
2,3863605355,History Lovers Club,547308,0,5048,254351
3,53036660,GLAMOUR South Africa,500713,864,357,36650
4,270106571,Brotips,464301,58,1503,88299

In [8]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Data columns (total 6 columns):
uid                4209 non-null int64
name               4209 non-null object
followers_count    4209 non-null int64
friends_count      4209 non-null int64
listed_count       4209 non-null int64
statuses_count     4209 non-null int64
dtypes: int64(5), object(1)
memory usage: 197.4+ KB

In [7]:
dat.to_csv('datasets/unverified.dat', header=False, index=False)