In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("datasets/unverified_features_4k.csv")

In [3]:
dat = df[["uid", "name", "friends", "friends_count", 
                        "followers_count", "listed_count", "statuses_count", 
                        "created_at", "url", "avatar", "location"]]

In [4]:
# dat = dat.astype({"friends_count": int, "followers_count": int, "listed_count": int, "statuses_count": int})

In [5]:
# columns_titles = ["uid", "name", "followers_count","friends_count", "listed_count", "statuses_count"]
# dat=dat.reindex(columns=columns_titles)

In [6]:
dat.head()

,uid,name,friends,friends_count,followers_count,listed_count,statuses_count,created_at,url,avatar,location
0,14669951,DRUDGE REPORT,friends,2,1378378,21171,237720,Tue May 06 05:34:47 +0000 2008,http://t.co/dsLXEBfDsQ,https://pbs.twimg.com/profile_images/53808884/...,US
1,1754641,NYT Business,friends,441,786607,14628,207256,Wed Mar 21 14:49:39 +0000 2007,http://t.co/OKrfdBy4ch,https://pbs.twimg.com/profile_images/963826250...,"New York, NY"
2,24733117,Jeffrey Levin,friends,0,610302,5754,611789,Mon Mar 16 17:42:55 +0000 2009,https://t.co/S3UXcXprn9,https://pbs.twimg.com/profile_images/826519476...,"San Jose, CA"
3,3863605355,History Lovers Club,friends,0,547308,5048,254351,Sun Oct 04 17:25:59 +0000 2015,https://t.co/gggmdpuCSK,https://pbs.twimg.com/profile_images/111175905...,"London, England"
4,53036660,GLAMOUR South Africa,friends,864,500713,357,36650,Thu Jul 02 11:25:20 +0000 2009,https://t.co/3WA7d5ciQJ,https://pbs.twimg.com/profile_images/103042295...,South Africa

In [7]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3563 entries, 0 to 3562
Data columns (total 11 columns):
uid                3563 non-null object
name               3562 non-null object
friends            3561 non-null object
friends_count      3562 non-null object
followers_count    3562 non-null object
listed_count       3562 non-null object
statuses_count     3562 non-null object
created_at         3561 non-null object
url                2175 non-null object
avatar             3560 non-null object
location           2927 non-null object
dtypes: object(11)
memory usage: 306.3+ KB

In [8]:
dat.to_csv('datasets/unverified.dat', header=False, index=False)